 .u-section-1 {
  background-image: linear-gradient(to right, #478ac9, #adf6f2);
}

.u-section-1 .u-sheet-1 {
  min-height: 1186px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  font-size: 2.25rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  width: 240px;
  margin: 20px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 91px;
  width: 1046px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 29px auto 30px;
  padding: 8px 36px 9px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1318px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  font-size: 2.25rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  text-align: start;
  width: 445px;
  margin: 16px auto 0;
}

.u-section-2 .u-slider-1 {
  min-height: 532px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 427px;
  background-image: linear-gradient(to right, #77aad9, #72efe9);
  text-align: left;
  width: 387px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  text-align: left;
  width: 373px;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-custom-html-2 {
  height: auto;
  min-height: 427px;
  background-image: linear-gradient(to right, #77aad9, #72efe9);
  text-align: left;
  width: 387px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  text-align: left;
  width: 311px;
  margin: 20px auto 0;
}

.u-section-2 .u-carousel-item-3 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-custom-html-3 {
  height: auto;
  min-height: 427px;
  background-image: linear-gradient(to right, #77aad9, #72efe9);
  text-align: left;
  width: 387px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  text-align: left;
  width: 283px;
  margin: 20px auto 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: -21px;
  right: auto;
  position: absolute;
}

.u-section-2 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -21px;
}

.u-section-2 .u-custom-html-4 {
  height: auto;
  min-height: 534px;
  background-image: linear-gradient(to right, #77aad9, #72efe9);
  text-align: left;
  width: 1063px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-5 {
  text-align: left;
  width: 640px;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 20px auto 32px;
  padding: 8px 36px 9px 35px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-4 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-custom-html-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-custom-html-4 {
    width: 540px;
  }

  .u-section-2 .u-text-5 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-custom-html-2 {
    width: 340px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 340px;
  }

  .u-section-2 .u-custom-html-4 {
    width: 340px;
  }

  .u-section-2 .u-text-5 {
    width: 340px;
  }
} .u-section-3 {
  background-image: linear-gradient(to right, #478ac9, #adf6f2);
}

.u-section-3 .u-sheet-1 {
  min-height: 1226px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 1011px;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.125rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 31px 239px 0 252px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.125rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 16px 101px 0 114px;
}

.u-section-3 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 26px auto 32px 514px;
  padding: 8px 36px 9px 35px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 139px;
    margin-left: 152px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 1px;
    margin-left: 14px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 314px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 29px;
    margin-left: 42px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 94px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}